
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
data/custom
data/WheatDetection/images/
data/WheatDetection/labels/
backup
weights/*.weights
weights/*.74

__pycache__
checkpoints
data/samples/*.jpg
logs/*.v2